# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Upload Python Package

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Run image
      uses: abatilo/actions-poetry@v2.0.0
      with:
        poetry-version: '1.1.6'
    - name: Build package
      run: poetry build
    - name: Publish package
      run: poetry publish -u __token__ -p ${{ secrets.PYPI_API_TOKEN }}
